{% extends "fwtheme_django/layout.html" %}
{% load static %}
    
    {% block stylesheets %}
    <!-- Bootstrap Core
    CSS -->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/b3orgtheme_jasmin/0.1/_vendor/bootstrap/dist/css/bootstrap.css" media="screen">
    <!-- Custom CSS -->
    <!-- customisations of vanilla bootstrap by the bootswatch variant we're using (output from Bootswatch) -->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/b3orgtheme_jasmin/0.1/_assets/css/custom.min.css">
    <!-- customisations of the above, to separate own customisations from Bootswatch's -->
    <link rel="stylesheet" href="{% static "fwtheme_django/css/fw-custom.css" %}" >
    <!-- organisation customisations go here (blank in this case, over-ridden by each fwtheme-django-ORG theme) -->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/b3orgtheme_jasmin/0.1/_assets/css/org-custom.css">

    {# some customisations go here before org theme styling #}
    {% block stylesheets_pre_extra %}{% endblock stylesheets_pre_extra %}

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {# most further customisations can go here, after org theme styling #}
    {% block stylesheets_extra %}{% endblock %}

    {% endblock stylesheets %}

  {% block navbar_main %}
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              {% block navbar_branding %}
              <a href="../" class="navbar-brand">
                  Brand goes here
              </a>
              {% endblock navbar_branding %}
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            {% block navigation %}
                {% block navbar_dropdown %}
                {% endblock navbar_dropdown %}
            {% endblock navigation %}
            
            {% block user_status %}
            {% endblock user_status %}
            
        </div>
    </div>
  {% endblock navbar_main %}
 
   
  {% block page_special %}
  {% endblock %}

    {# To make content occupy full width, override the block page_container #}
    {# with one of the same name which OMITS the div class=container tag #}

    {% block page_container %}

    <div class="container{% if container_fluid %}-fluid{% endif %}">

      {% block content_main %}
      {% block content_header %}

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            {% block page_title %}
              <h1>Page title</h1>
              <p class="lead">Leader text for this page</p>
            {% endblock %}
          </div>
          {% block info_panel %}
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
                {% block notifications %}
                {% if messages %}
                      {% for message in messages %}
                          {% if 'success' in message.tags %}
                              <div class="alert alert-with-icon alert-success" role="alert">
                                  <i class="fa fa-check-circle"></i> <span>{{ message }}</span>
                              </div>
                          {% elif 'error' in message.tags %}
                              <div class="alert alert-with-icon alert-danger" role="alert">
                                  <i class="fa fa-exclamation-circle"></i> <span>{{ message }}</span>
                              </div>
                          {% elif 'warning' in message.tags %}
                              <div class="alert alert-with-icon alert-warning" role="alert">
                                  <i class="fa fa-exclamation-triangle"></i> <span>{{ message }}</span>
                              </div>
                          {% else %}
                              <div class="alert alert-with-icon alert-info" role="alert">
                                  <i class="fa fa-info-circle"></i> <span>{{ message }}</span>
                              </div>
                          {% endif %}
                      {% endfor %}
                {% endif %}
                {% endblock %}  
              
            </div>
          </div>
          {% endblock info_panel %}
        </div>
      </div>

      {% endblock content_header %}

      {% block content_panel %}
      <div class="row">
          <div class="col-md-12">
              {% block content %}{% endblock content%}
          </div>
      </div>
      {% endblock content_panel %}

      {% endblock content_main %}


    </div>
    {% endblock page_container %}


    {% block footer %}
    <footer>
      <div class="container">
          <div class="row d-flex justify-content-around">
            <div class="row d-flex justify-content-around">
                <div class="col col-md-4 text-center ">
                  <a href="https://stfc.ukri.org" title="STFC"><img src="https://artefacts.ceda.ac.uk/themes/b3orgtheme_jasmin/0.1/_assets/img/UKRI_STF_Council-Logo_Horiz-RGB_h80.png" title="STFC UKRI logo" alt="STFC UKRI logo" height="80" ></a>
                </div>
                <div class="col-md-4">
                  <p class="text-center small">
                      <a href="http://www.ceda.ac.uk/accessibility" target="_blank">Accessibility</a> |
                      <a href="http://www.ceda.ac.uk/disclaimer" target="_blank">Disclaimer</a> |
                      <a href="http://www.ceda.ac.uk/privacy-and-cookies/" target="_blank">Privacy and Cookies</a> |
                      <a href="https://www.ceda.ac.uk" target="_blank">CEDA</a><br/>
                  </p>
              </div>
                <div  class="col col-md-4 text-center">
                  <a href="https://nerc.ukri.org/" title="NERC"><img src="https://artefacts.ceda.ac.uk/themes/b3orgtheme_jasmin/0.1/_assets/img/UKRI_NER_Council-Logo_Horiz-RGB_h80.png" title="NERC UKRI logo" alt="NERC UKRI logo"  height="80" ></a>
              </div>
          </div>
        </div>
      </footer>
      {% endblock footer %}